@font-face {
    font-family: 'juaracoding';
    src:  url('../fonts/juaracoding.eot?ptab8h');
    src:  url('../fonts/juaracoding.eot?ptab8h#iefix') format('embedded-opentype'),
      url('../fonts/juaracoding.ttf?ptab8h') format('truetype'),
      url('../fonts/juaracoding.woff?ptab8h') format('woff'),
      url('../fonts/juaracoding.svg?ptab8h#juaracoding') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'juaracoding' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-check:before {
    content: "\e900";
  }
  .icon-left:before {
    content: "\e901";
  }
  .icon-location:before {
    content: "\e902";
  }
  .icon-mail:before {
    content: "\e903";
    color: #e80000;
  }
  .icon-phone:before {
    content: "\e904";
  }
  .icon-right:before {
    content: "\e905";
  }
  .icon-share:before {
    content: "\e906";
  }
  .icon-star:before {
    content: "\e907";
  }
  
.section-3 img {
    width:100% !important
}
body, html {
    font-family: 'Poppins', sans-serif;
}
.mt-10 {
    margin-top:10px;
}
.mt-15 {
    margin-top:15px;
}
.mt-100 {
    margin-top:100px;
}
.mb-100 {
    margin-top:100px;
}
a {
    text-decoration:none !important;
}
p {
    font-size:16px;
    line-height:28px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px !important;
}
.fc-redsoft { color:#FC8F8F}
.fc-red { color:#E80000}
.fc-gray {color:#242424}
.fc-orange {color:orange}
.fc-gray2 {color:#343434}
.fs-2-24 {
    font-size: 2.24rem;
}
.fp-300 {
    font-weight: 300;
}
.jc-linktext {
    font-weight:400;
    color:#E80000;
}
.jc-linktext:hover {
    color:#242424
}
.pl-10 {
    padding-left:10px;
}
.pr-10 {
    padding-right:10px;
}
.btn-line-red {
    border-radius:50px;
    border:3px solid #E80000;
    padding:8px 20px;
    color:#E80000;

}
.btn-line-red:hover {
    background-color: #E80000;
    color:#fff;
}

.btn-red {
    border-radius:50px;
    padding:8px 20px;
    color:white;
    background-color: #E80000;
    border:3px solid #E80000;
}
.btn-red:hover {
    border-radius:50px;
    border:3px solid #E80000;
    padding:8px 20px;
    color:#E80000;
    background-color:transparent;
}
.jc-box-wrap h5 {
    font-size:18px;
}
.jc-menu {
    margin-left:30px
}
.jc-menu ul li {
    margin: 0px 3px;
}
.jc-menu ul li a {
    color:#242424;
    text-decoration: none;
    padding:10px 20px !important;
 
    text-align: center;
    display: block;
}
.jc-menu ul li.active a{
    color: #fff;
    background-color: #242424;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 50px;
}
.jc-menu ul li a:hover {
    color:#fff;
    background-color:#242424;
    text-decoration: none;
    padding:10px 30px;
    border-radius:50px;
}
.jc-menu ul li .dropdown-menu  a{
    border-radius:0px;
    text-align: left;
}
.jc-menu ul li .dropdown-menu {
    padding:0px !important;
    border-radius: 8px;
    overflow: hidden;
}
.jc-showcase {
    min-height:550px;
}
.jc-showcase p {
    line-height:28px;
}
.section-2, .section-5, .section-color_content{
    min-height:450px;
    background-color:#FFEDED;
}
.section_color_top {
    margin-top:50px;
    height:88px;
    background-image: url(../img/img_section_color_top.svg);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
}
.section_color_bottom {
    margin-bottom:50px;
    height:88px;
    background-image: url(../img/img_section_color_bottom.svg);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
}
.jc-box {
    padding:20px;
    background:#fff;
    border-radius:5px;
    min-height:260px;
    margin:30px auto;
}
.jc-box-sec4 {
    padding:10px;
    background:#fff;
    border-radius:5px;
    min-height:260px;
    margin:30px auto;
}
.section-3  {
    min-height:500px;
}
.section-3 img {
    margin-left:-40px;
}
.jc-home-section-4 {
    margin:80px auto;
    min-height: 400px;
}
.no-padding {
    padding:0px !important
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: red !important;
}
.section-6 {
    min-height:400px;
}
.img-news-wrap {
    height:150px;
    overflow: hidden;
    border-radius:5px;
}
.news {
    margin:40px auto
}
.news p {
    font-size: 14px;
    line-height: 23px;
    font-weight: 300 !important;
}
.news h5 {
    font-weight: 500;
}
.fst-italic {
    font-style: italic;
    color:#888;
    margin-bottom:10px;
    font-size:13px !important;
}
.news a {
    font-size:14px;
    text-decoration:none;
}
.news a:hover, .step a:hover {
    color:#242424;
}
.news .owl-nav, .step .owl-nav {
    position:absolute;
    left: 0;
    right: 0;
}
.news .owl-nav button.owl-prev, .step .owl-nav button.owl-prev {
    position:absolute;
    top:-200px;
    left:-80px;   
}

.news .owl-nav button.owl-next, .step .owl-nav button.owl-next{
    position:absolute;
    top:-200px;
    right:-80px;   
}

.news .owl-nav button.owl-prev:hover,.news .owl-nav button.owl-next:hover, .step .owl-nav button.owl-prev:hover,.step .owl-nav button.owl-next:hover {
    background:transparent !important;
    color:#E80000 !important
}
.news .owl-nav button span.material-icons-outlined,.step .owl-nav button span.material-icons-outlined {
    font-size:60px !important;
}
.jc-home-section-7 {
    min-height: 500px;
    margin: 50px auto;
}
.jc-home-section-7 h2 {
    font-weight:600;
    color:#343434;
    margin-top:40px;
}
.jc-home-section-7 p {
    font-weight: 300;
    font-size:16px;
}
.jc-all-section-8 {
    background-image:url(../img/img_bg_newsletter.svg);
    background-position: top;
    background-size: cover;
    background-repeat:no-repeat;
    min-height:550px;
    position:relative;
    padding-top:120px;

}

.jc-newslette-form {
    border-bottom-left-radius: 50px !important;
    border-top-left-radius: 50px !important;
    border-right:none;
    font-size: 16px !important;
    padding: 15px !important;
}
.jc-newslette-button {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    background-color:#E80000;
    color:#fff;
}
.jc-footer-top {
    height:40px;
    background-image: url(../img/img_bg_footer.svg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.jc-footer-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.jc-footer-content {
    background-color: #E86262;
    padding:20px 0px 10px 0px;
    color:#fff;
    font-size:14px !important;
    font-weight:200;
}
.jc-footer-content p {
    font-size:14px !important;
}
.jc-privacy {
    float:right
}
.jc-privacy ul li {
    float:left;
    list-style:none;
    padding:0px 10px;
}
.jc-footer-summary p {
    padding:20px 0px; 
    font-weight:300;      
} 
.jc-menu-bottom h4 {
    font-weight: 600;
    font-size:22px;
    margin-top:20px;
    color:#343434 !important
}
.jc-menu-bottom ul {
    margin:auto !important;
}
.jc-menu-bottom ul li {
    list-style:none;
    padding:7px 0px;
}

.jc-menu-bottom ul li a {
    color:#242424;
}
.jc-menu-bottom ul li a:hover {
    color:#E80000;
}
.jc-social-media {
    margin-left:30px;
}
.jc-social-media ul li {
    float:left;
    list-style:none;

}
.jc-social-media ul li a {
    border-radius:50px;
    height:35px;
    width:35px;
    background-color:#343434;
    margin-right:10px;
    color:#fff;
    display:block;
    padding: 6px 10px;
}
.jc-social-media ul li a:hover {
    background-color: #E80000;
    color:#fff
}
.jc-contact ul li {
    list-style:none;
}
.jc-contact h4 {
    font-weight: 600;
    font-size:22px;
    margin-top:20px;
    color:#343434 !important
}
.jc-contact ul li p {
    margin: 0px 0px 5px 30px;
}
.jc-contact ul li span {
    float:left
}
.jc-contact ul li span.icon-location {
    margin:5px auto 0px auto;
    font-size:22px;
}
.jc-contact ul li span.icon-mail:before {
    color:#242424 !important;
    font-size:22px;   
}
.jc-contact ul li span.icon-phone:before {
    color:#242424 !important;
    font-size:22px;   
}

.jc-contact ul li span.icon-mail {
    margin-top:4px;
}
.jc-all-header {
    width:100%;
    height:311px;
    background-image:url(../img/img_header.svg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
.jc-home-section-7  img {
    width:100%;
    height:400px;
}
.navbar-toggler {
    padding:0px  !important;
}
.jc-burger-menu {
    background-image: url(../img/img_menu.svg);
    background-repeat: no-repeat;
    background-position:center;
    width:40px;
    height:40px
}
.jc-section4-about {
    margin:100px auto;
}
.jc-about-text h3 {
    font-weight: 600;
}
.jc-about-text h4 {
    margin-bottom:20px
}
.jc-about-img img{
    width:100%;
}
.jc-about-text p {
    font-weight: 300;
}
.jc-blog-item  img{
    width:100%;
}
.jc-date {

}
.jc-section4-blog {
    margin-top:80px;
}
.jc-blog-item {
    margin-bottom:50px;
}
.jc-blog-item h5 {
    margin:20px auto
}
.jc-blog-item p {
    font-size:16px;
}
.icon-share {
    font-size:20px;
}
.jc-all-section1 .navbar {
    padding: 15px 0px;
}
.jc-section-login {
    min-height:800px;
}
.jc-section-login h4 {
    margin-bottom:30px;
}
.jc-section-login img {
    width:100%;
    height: 500px;
}
.jc-section-contact {
    margin:80px auto
}
.jc-form-contact {
    box-shadow:0px 0px 10px rgba(0,0,0,0.2);  
    padding:30px;
    border-radius:10px;
    min-height:610px;
    margin:0px auto
}
.jc-form-login {
    box-shadow:0px 0px 10px rgba(0,0,0,0.2);  
    padding:30px;
    border-radius:10px;
    min-height:500px;
}
.jc-form-login form p {
    text-align:center;
    margin:10px;
}
.js-tabs {
    /* margin:80px auto; */
}
.js-tabs .nav-tabs {
    border-bottom: 2px solid #dee2e6;
}
.js-tabs .nav-tabs .nav-item .nav-link h4 {
    text-align:center;
    color:#343434;
    font-size:20px;
}
.js-tabs .nav-tabs .nav-item.show .nav-link, .js-tabs .nav-tabs .nav-link.active {
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 2px solid red;
    border-left: none;
    border-right: 0;
    border-top: 0;
    text-align:center;
    font-size:20px;
}
.js-tabs .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 2px solid red;
    border-left: none;
    border-right: 0;
    border-top: 0;
    text-align:center;
    font-size:20px;
}
.js-tabs .nav-tabs .nav-item.show .nav-link h4, .js-tabs .nav-tabs .nav-link.active h4 {
    color:#e80000;
}
.js-tabs .nav-tabs .nav-item {
    margin-bottom: -2px;
    width: 50%;
}
.js-tabs-content {
    padding: 40px 0px;
}

.js-tabs-optional {
    /* margin:80px auto; */
}
.js-tabs-optional .nav-tabs {
    border-bottom: 2px solid #dee2e6;
}
.js-tabs-optional .nav-tabs .nav-item .nav-link h4 {
    text-align:center;
    color:#343434;
    font-size:20px;
}
.js-tabs-optional .nav-tabs .nav-item.show .nav-link, .js-tabs-optional .nav-tabs .nav-link.active {
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 2px solid red;
    border-left: none;
    border-right: 0;
    border-top: 0;
    text-align:center;
    font-size:20px;
    background:transparent;
}
.js-tabs-optional .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 2px solid red;
    border-left: none;
    border-right: 0;
    border-top: 0;
    text-align:center;
    font-size:20px;
}
.js-tabs-optional .nav-tabs .nav-item.show .nav-link h4, .js-tabs-optional .nav-tabs .nav-link.active h4 {
    color:#e80000;
}
.js-tabs-optional .nav-tabs .nav-item {
    margin-bottom: -2px;
    width: 50%;
}
.js-tabs-content {
    padding: 40px 0px;
    background-color:#fff;
}
.jc-box-shadow  {
    padding:15px;
    border-radius:8px;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 10%);
}

.jc-box-wrap {
    width: 100%;
    min-height:250px;
}
.jc-box-wrap p {
    font-size: 14px;
    line-height: 26px;
}
.jc-box-wrap img {
    height:90px;
}
.jc-section-bootcamp {
    margin:80px auto
}
.jc-section-bootcamp p {
    font-weight:300;
}
.jc-section-bootcamp img {
    margin:auto;
    width: 100%;
}
.jc-bootcamp-check {
    margin:40px auto;
    min-height:600px;
    width:100%;
}
.jc-bootcamp-check img{
    width:100%;
}
.jc-bootcamp-check ul {
    width:100%
}
.jc-bootcamp-check ul li {
    list-style:none;
}
.jc-bootcamp-check ul li span {
    float:left;
    color:#00A828;
    font-size:24px;
    margin-right:10px;
}
.jc-bootcamp-check ul li p {
    margin-left:40px
}
.step .item {
    margin:20px auto;
    padding:15px;
    border:1px solid #ddd;
    border-radius:8px;
    min-height:220px;
    overflow:hidden;
    position: relative;
}
.jc-step-number {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    background-color: #888;
    color: #fff;
    position: absolute;
    top: -18px;
    left: -8px;
    padding: 35px 36px;
}
.jc-step-number p {
    font-size:28px;
}
.step .item img {
    margin:20px auto;
    height:80px;
    width:auto;
}
.step .item p {
    text-align:center;
}
.step .owl-nav {
    margin-top:50px !important;
}
.jc-menu ul li .dropdown-item.active, .dropdown-item:active {
    background-color: #242424;
}

.jc-accordion-menu-card {
    box-shadow:none !important;
    margin:auto !important;
    border-radius: 0px !important;
}
.jc-accordion-menu-card a {
    border-radius: 0px !important;
}
.jc-section-accordion-wrap #accordion-menu .card a.card-header h5 {
    font-size:17px;
    color:#242424
}
.jc-section-accordion-wrap #accordion-menu .card .collapse .show .card-body {
    background-color:#ddd;
    
}
.jc-section-accordion-wrap #accordion-menu .card .card-body {
    padding:0px;
}
.jc-section-accordion-wrap #accordion-menu .card a.jc-submenu-style {
    background-color: #242424;
    padding:15px;
}
.jc-section-accordion-wrap #accordion-menu .card a.jc-submenu-style h5 {
    color:#fff;
}

.jc-submenu-link ul li {
    list-style:none;
   

}
.jc-submenu-link ul li a {
    color:#242424;
    text-decoration:none;
    display:block;
    padding:10px 10px 10px 40px;
}
.jc-submenu-link ul li a:hover {
    background-color:#242424;
    color:#fff;
}
.jc-lms-item-wrap {
    margin-bottom:20px;
}
.jc-lms-item-wrap img {
    width:100%;
}
.jc-lms-item-wrap a h4 {
    font-size:19px;
    margin:auto auto 5px auto;
    text-decoration: none;
    color:#242424
}
.jc-lms-item-wrap p {
    font-weight:300;
    font-size:14px;
    line-height:22px;
    margin:auto auto 5px auto;
}
.jc-lms-item-wrap h5 {
    font-size:19px;
}
.jc-lms-item-wrap h3 {
    font-size:22px;
    font-weight:bold;
}
.jc-search input.form-control{
    font-size:16px !important;
}
.btn-outline-search {
    background-color:#fff;
    border-right: 1px solid #ced4da;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
}
.divider {
    border-bottom:1px solid #ddd;
    width:100%;
}
.lms-detail-sec2 ul li {
    list-style:none;
    padding:5px 0px;

}
.lms-detail-sec2 ul li span {
    float:left;
    font-size:22px;
    color:#00A828
}
.lms-detail-sec2 ul li p {
    padding-left:30px;
}
.jc-list-course {
    border-radius:8px;
    border:1px solid #ddd;
}
.jc-list-course ul li p {
   float:left
}

.jc-list-course ul li {
    list-style: none;
    padding: 12px 0px;
    display: flow-root;
    border-bottom: 1px solid  #ddd;
}
.jc-list-course ul li span {
    margin-right:10px;
}
.news .owl-nav, .step .owl-nav button span {
    font-size:24px;
}
.jc-faq  {
    margin:80px auto !important;
}
.jc-faq img {
    width:100%;
}
.accordion-faq {
    border:1px solid #ddd;
    border-radius:8px;
    overflow: hidden;
}
.accordion-faq a {
    background:#fff;
    padding:10px;
    cursor: pointer;
}
.accordion-faq a h2 {
    font-size:18px;
    color:#242424
}
.accordion-faq .card-body{
    background-color:#eee;
    margin:auto
}
.accordion-faq  .card {
    margin:auto;
    border-radius:0px;
}
.testimonial img {
    width:100% !important;
    height: auto!important;
    margin:auto
}
.testimonial  .jc-box-wrap, .testimonial  .jc-box {
    min-height:100px !important;
}
.jc-blog-item-detail h4 {
    font-size:22px;
    color:#242424;
}
.jc-section4-blog a h5 {
    color:#242424;
}
.jc-section4-blog a:hover h5 {
    color:#e80000
}
.jc-blog-item-detail p {
    font-size:15px;
    font-weight:300;
}
.jc-blog-item-detail h5 {
    font-size:24px; 
    margin: auto auto 10px auto;
}
.jc-blog-item-detail {
    margin-bottom:50px
}
.jc-section-accordion-wrap #accordion-menu .card .card-header {
    padding:0px;
    border-bottom: 1px solid #ddd;
}

#accordion-menu .card {
    margin-bottom:0px;
    box-shadow: none;
    border-radius:0px !important;
}
#accordion-menu .card .card-header {
    border: 0;
            
    
    padding: 0;
    
  }
  
  #accordion-menu .card .card-header .btn-header-link {
    color: #fff;
    display: block;
    text-align: left;
    background: #e80000;
    color: #FFF;
    padding: 15px;
    border-radius:0px !important;
  }
  
  #accordion-menu .card .card-header .btn-header-link:after {
    content: "\e905";
    font-family: 'juaracoding';
    font-weight: 900;
    float: right;
    transform: rotate(90deg);
  }
  
  #accordion-menu .card .card-header .btn-header-link.collapsed {
    background: #FFF;
    color: #343434;
  }
  
  #accordion-menu .card .card-header .btn-header-link.collapsed:after {
    content: "\e905";
    font-family: 'juaracoding';
    transform: rotateZ(0deg);
   
  }
  
  #accordion-menu .card .collapsing {
    background: #fff;
    line-height: 30px;
  }
  
  #accordion-menu .card .collapse {
    border: 0;
  }
  
  #accordion-menu .card .collapse.show {
    background:#fff;
    line-height: 30px;
    color: #222;
  }


@media screen and (max-width:960px) {
    .jc-home-section-7  img {
        width:100%;
    }
    .jc-contact {
        margin-bottom:190px;
    }
}

@media screen and (max-width:767px) {
    .js-tabs .nav-tabs .nav-item .nav-link h4 {
        font-size:15px;
    }
    .jc-box-card {
        min-height:auto !important;
    }
    .jc-lms-item-wrap .btn {
        margin-bottom: 20px;
    }
    .accordion-faq {
        width: 100%;
        margin: 30px auto;
    }
    .jc-section-contact iframe {
        height:300px !important;
        margin:20px auto !important;
    }
    .jc-section-contact  {
        padding:0px 20px;
        
    }
    .jc-form-login {
        min-height:auto;
    }
    .jc-box-sec4 {
        margin:auto !important
    }
    .section-3 {
        text-align:center;
    }
    .section-3 img {
        margin:auto
    }
    .jc-box-wrap {
        min-height:auto;
    }
    .jc-search {
        margin:20px auto 10px auto;
    }
    .jc-section-lms{
        margin:auto !important;
        padding:0px !important;
    }
    .jc-lms-item-wrap a h4 {
        margin:10px auto;
    }
    .jc-all-header{
        height:200px;
    }
    .jc-privacy {
        float: none;
        text-align: center;
        margin: auto;
    }
    .jc-privacy ul {
        display: inline-block;
     }
    .jc-footer-content {
        text-align:center;
    }
    .testimonial img {
        width: auto !important;
        height: auto!important;
    }
    .testimonial .jc-box-wrap, .testimonial .jc-box {
        text-align: center;
    }
    .step  {
        padding:0px 30px
    } 
    .section-2, .section-5 {
        min-height: 450px;
        background-color: #FFEDED;
        padding: 0px 30px;
    }
    .jc-menu form.form-inline {
        margin: auto;
        float: none !important;
        text-align: center;
        width: 250px;
        display: flow-root;
    }
    .jc-showcase{
        min-height:500px;
    }
    .jc-ctrl-showcase-text {
        position:absolute;
        top:220px;
        text-align:center;
      }
      .jc-ctrl-showcase-img {
        position:absolute;
        top:0px;
        
        text-align:center;
      }
      .jc-ctrl-showcase-img img{
        height:200px;
      }
      .jc-ctrl-showcase-text h2{
        font-size: 25px;
      }
    .news .owl-nav {
        display:none;
    }
    .jc-menu.collapse.show, .jc-menu {
        position: absolute;
        background: #fff;
        left: 0px;
        right: 0px;
        z-index: 2;
        top: 90px;
        width: 100%;
        margin: auto;
        padding: 15px;
        border-radius: 10px;
        box-shadow:0px 0px 10px rgba(0,0,0,0.2);  
    
    }
    .jc-menu ul li {
        margin:10px auto;
    }
    .jc-all-section-8 {
        padding-top: 130px;
        margin-top: -100px;
    }
    .sm-no-padding {
        padding:0px !important;
    }
   
    .jc-footer-summary {
        padding-top:30px
    }
    .jc-home-section-7  img {
        width:100%;
        height:auto;
    }
    .jc-home-section-7 {
        text-align:center;
    }
    .jc-blog-item {
        padding:0px 20px
    }
    .hori-timeline .events .event-list:before {
        content: "";
        position: absolute;
        height: 70px;
        border-right: 2px dotted #dee2e6;
        top: 0;
    }
    .hori-timeline .events .event-list .event-date {
        top: 13px !important;
    }
    .hori-timeline .events {
        border:none !important
    }
    .hori-timeline {
        margin:auto !important
    }
}

.hori-timeline {
    margin:40px auto
}
.hori-timeline .events {
    border-top: 3px dotted #e9ecef;
}
.hori-timeline .events .event-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
}

.hori-timeline .events .event-list .event-date {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    width: 50px;
    height:50px;
    margin: 0 auto;
    border-radius: 50px;
    padding: 2px 4px;
    background: #e80000;
    color:#fff;
    padding: 13px;
}
@media (min-width: 1140px) {
    .hori-timeline .events .event-list {
        display: inline-block;
        width: 24%;
        padding-top: 45px;
    }
    .hori-timeline .events .event-list .event-date {
        top: -27px;
    }
}

.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
}
.jc-card-timeline {
    padding:20px
}
.jc-box-card {
    padding:10px;
    border:1px solid #eee;
    border-radius:8px;
    font-weight:300;
    font-size:16px;
    min-height:100px;
    display:grid;
    width:100%;
}

.jc-box-card span {
    display: contents;
}